<article class="guild-application2 content-item detail">
    <header>
        {{ Model.Header | Display }}
        <div class="metadata">
            {{ Model.Meta | Display }}
        </div>
    </header>
    <div class="content">
        <div class="guild-application-section">
            <h2>Karaktereid</h2>
            <ul>
                <li>{{ Model.MainKarakter | Display }}</li>
                {% if Model.ContentItem.GuildApplication2Part.MainKarakterArmoryLink.Value != null %}
                <li>
                    <a href="{{ Model.ContentItem.GuildApplication2Part.MainKarakterArmoryLink.Value }}" target="_blank">Armory Link</a>
                </li>
                {% endif %}
                {% if Model.ContentItem.GuildApplication2Part.NoncombatScreenshotURL.Value != null %}
                <li>
                    <a href="{{ Model.ContentItem.GuildApplication2Part.NoncombatScreenshotURL.Value }}" target="_blank">Combat-on kívüli screenshot</a>
                </li>
                {% endif %}
                {% if Model.ContentItem.GuildApplication2Part.NoncombatScreenshot.FirstMediaUrl != null %}
                <li>
                    <a href="{{ Model.ContentItem.GuildApplication2Part.NoncombatScreenshot.FirstMediaUrl }}" target="_blank">Combat-on kívüli screenshot</a>
                </li>
                {% endif %}
                {% if Model.ContentItem.GuildApplication2Part.CombatScreenshotURL.Value != null %}
                <li>
                    <a href="{{ Model.ContentItem.GuildApplication2Part.CombatScreenshotURL.Value }}" target="_blank">Combat screenshot</a>
                </li>
                {% endif %}
                {% if Model.ContentItem.GuildApplication2Part.CombatScreenshot.FirstMediaUrl != null %}
                <li>
                    <a href="{{ Model.ContentItem.GuildApplication2Part.CombatScreenshot.FirstMediaUrl }}" target="_blank">Combat screenshot</a>
                </li>
                {% endif %}
                {% if Model.ContentItem.GuildApplication2Part.CombatLogURL.Value != null %}
                <li>
                    <a href="{{ Model.ContentItem.GuildApplication2Part.CombatLogURL.Value }}" target="_blank">Combat log</a>
                </li>
                {% endif %}
                <li>{{ Model.AltKarakterek | Display }}</li>
            </ul>
        </div>
        <div class="guild-application-section">
            <h2>Raid tapasztalat és történet</h2>
            <ul>
                <li>{{ Model.RaidTapasztalat | Display }}</li>
                <li>{{ Model.RaidNapok | Display }}</li>
                <li>{{ Model.Hianyzas | Display }}</li>
                <li>{{ Model.Abbahagyas | Display }}</li>
                <li>{{ Model.EmlekezetesPillanat | Display }}</li>
                <li>
                    <p>
                        <span class="name">Referenciák a guild-ből:</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.Referencia.Value }}</em>
                    </p>
                </li>
            </ul>
        </div>
        <div class="guild-application-section">
            <h2>Elérhetőség</h2>
            <ul>
                <li>
                    <p>
                        <span class="name">Hang kommunikáció megy?</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.Kommunikacio.Value }}</em>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="name">Elérhetősége(i)d:</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.Elerhetoseg.Value }}</em>
                    </p>
                </li>
            </ul>
        </div>
        <div class="guild-application-section">
            <h2>Egyéb</h2>
            <ul>
                <li>
                    <p>
                        <span class="name">Internetkapcsolatod:</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.Internetkapcsolat.Value }}</em>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="name">FPS-ed raid közben:</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.RaidFPS.Value }}</em>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="name">Bossfight-okat fel tudsz venni?</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.BossfightFelvetel.Value }}</em>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="name">Ismered a SimCraft-ot?</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.SimCraftIsmeret.Value }}</em>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="name">Ha igen, használod?</span>
                        <em>{{ Model.ContentItem.GuildApplication2Part.SimCraftHasznalat.Value }}</em>
                    </p>
                </li>
                <li>{{ Model.Felkeszules | Display }}</li>
                <li>{{ Model.Elvarasok | Display }}</li>
                <li>{{ Model.Egyeb | Display }}</li>
            </ul>
        </div>
    </div>
    <footer>
        {{ Model.Footer | Display }}
    </footer>
</article>